/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 140px;
}

#footer.footer {
    position: absolute;
    color: #ffffff;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    min-height: 120px;
    background-color: #008ed8;
}

#footer a{
    color: #ffffff;
    text-decoration: none;
}

#footer ul li{
    width: 300px;
    display: inline-block;
    list-style: none;
    margin: 20px 20px 5px 20px;
}

#footer .qrcode{
    text-align: center;
}

#footer .qrcode img{
    height: 80px;
    width: auto;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container .text-muted {
    margin: 20px 0;
    color: #4CA44C;
}

.oos-center {
    text-align: center;
}

.item-box{
    max-width: 200px;
    float: left;
    margin: 5px;
}

.item-box .panel-title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-box .panel{
    margin-bottom: 0;
}

.timeline .timeline-body .problem{
    background: brown;
    color:white;
    float: left;
    width: 50px;
    text-align: center;
    line-height: 50px;
    height: 50px;
    padding:2px;
    border: white 1px solid;
}


.graph_img{
    float: left;
    width: 50%;
    border: dotted darkgray 1px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.graph_img img{
    width:100%;
    height: 300px;
}

.margin-top{
    margin-top:20px;
}